/* styling for the website */
body {
    font-family: 'Rethink Sans', sans-serif; 
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.rethink-sans-<uniquifier> {
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, .header, .navigation a { /* Titles + headings */
    font-family: 'Dela Gothic One', display; 
}

.victor-mono-<uniquifier> {
    font-family: "Dela Gothic One", display;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p, .content { 
    font-family: 'Rethink Sans', sans-serif; 
}

/*  header background for the homepage */
.home-page .header {
    background-image: url('https://cellius-1.github.io/thernel.github.io/images/pi.png');
    background-size: cover;
    background-position: center;
    position: relative; 
    min-height: 70vh; /* Adjusted height */
    overflow: hidden; /* Allow scrolling */
}

.home-page .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; 
}

.header h1 {
    position: relative;
    z-index: 1;
    font-size: 2em; 
    text-align: center;
}

.navigation {
    overflow: hidden;
    background-color: #333;
}

.navigation a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 20px;
    margin: 4px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery div {
    flex-basis: 20%;
    margin: 10px;
    text-align: center;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
    .gallery div {
        flex-basis: 100%;
    }
}
