/* styling for the website */
body {
    font-family: 'Rethink Sans', sans-serif; 
    margin: 0;
    padding: 0;
    background: #000000;
}

/* Titles and headings */
h1, h2, h3, .header, .navigation a { 
    font-family: 'Dela Gothic One', display; 
    color: white;
}

/* Paragraph text */
p, .content { 
    font-family: 'Rethink Sans', sans-serif;
    color: white;
}

/* Header */
.header {
    background-image: url('https://cellius-1.github.io/thernel.github.io/images/pi.png');
    background-size: cover;
    background-position: center;
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0; 
}

.header h1 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    animation: slideIn 1s ease-in-out forwards;
    margin: 0 auto; 
}

/* Navigation */
.navigation {
    overflow: hidden;
    background-color: #000;
}

.navigation a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    position: relative; 
    overflow: hidden; 
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 2px; 
    background-color: white; 
    bottom: 0; 
    left: 0; 
    transition: width 0.3s ease, top 0.3s ease; 
    transform: scaleX(0); 
    transform-origin: bottom left;
    top: 80%; 
}

.navigation a:hover::after {
    transform: scaleX(1); 
    top: 90%; 
}

/* Content */
.content {
    padding: 20px;
    margin: 4px;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery div {
    flex-basis: 20%;
    margin: 10px;
    text-align: center;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

/* Media for responsiveness */
@media (max-width: 600px) {
    .gallery div {
        flex-basis: 100%;
    }
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    opacity: 0;
    animation: slideInSection 1s ease-in-out forwards;
}

.section .left-box {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: right; 
    width: 50%;
    animation: slideInLeft 1s ease-in-out forwards;
}

.section .left-box h2 {
    font-size: 1.5em; 
    margin-bottom: 10px;
}

.section .left-box p {
    font-size: 1em;
}

.section .right-box {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 50%;
    animation: slideInRight 1s ease-in-out forwards;
}

.section .right-box p {
    font-size: 1em;
}

/* Animation*/

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
